---
layout: archive
title: ""
permalink: /publications/
author_profile: true
---
<div style="display: flex; align-items: center; gap: 24px; margin-bottom: 2rem;">
  <h1 style="margin: 0; font-size: 1.5rem;">Research</h1>
  <img src="/images/rugen.jpg" alt="Research banner" style="height: 120px; object-fit: contain;">
</div>

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

<!-- New style rendering if publication categories are defined -->
{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}


<!--
<div class="image-container">
  <img src="https://raw.githubusercontent.com/gabrieleletta97/gabriele_letta.github.io/master/images/menzel.jpg" alt="Description of the image" style="max-width: 75%; height: auto;">
</div>
-->


