{% if post.authors %}
  <p><strong>Authors:</strong> 
    {% for author in post.authors %}
      {% if author.url %}
        <a href="{{ author.url }}">{{ author.name }}</a>{% if forloop.last == false %}, {% endif %}
      {% else %}
        {{ author.name }}{% if forloop.last == false %}, {% endif %}
      {% endif %}
    {% endfor %}
  </p>
{% endif %}

{% if post.venue %}
  <p><i>{{ post.venue }}</i></p>
{% endif %}

{% if post.date %}
  <p class="page__date"><strong><i class="fa fa-fw fa-calendar" aria-hidden="true"></i></strong> <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%Y" }}</time></p>
{% endif %}

{% if post.excerpt %}
  <p class="archive__item-excerpt" itemprop="description">{{ post.excerpt | markdownify }}</p>
{% endif %}

{% if post.paperurl %}
  <p><a href="{{ post.paperurl }}" class="btn">Download Paper</a></p>
{% endif %}
