body {
    font-size: 0.65em; /* Adjust to your preferred size */
}

@media (max-width: 600px) {
    body {
        font-size: 0.75em; /* Smaller size on mobile */
    }
}

/* Increase font size for publication categories */
.archive .publication-category-title {
    font-size: 2em; /* Desired size */
    font-weight: bold; /* Ensure it's bold */
}

/* Other existing styles */
.publications-page {
    font-size: 0.75em; /* This will not affect category titles */
}

.quote-container {
    display: flex;
    justify-content: center; /* Centers the quote horizontally */
    align-items: center;     /* Centers the quote vertically, if needed */
    text-align: center;      /* Centers the text inside the blockquote */
    margin: 40px 0;         /* Adds space around the quote */
}

.quote blockquote {
    font-size: 1em;        /* Adjust font size as needed */
    margin: 0;               /* Remove default margin */
}
