---
layout: default
---

<div class="archive-container">
    {% if site.publication_category %}
        {% for category in site.publication_category %}
            <h2>{{ category[1].title }}</h2>
            <hr />
            {% for post in site.publications reversed %}
                {% if post.category contains category[0] %}
                    {% include archive-single.html %}
                {% endif %}
            {% endfor %}
        {% endfor %}
    {% else %}
        {% for post in site.publications reversed %}
            {% include archive-single.html %}
        {% endfor %}
    {% endif %}
</div>
