---
layout: compress
---

{% include base_path %}

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ '/assets/css/styles.css' | relative_url }}">
    <title>{{ page.title }}</title>
</head>


<body class="{% if page.permalink == '/publications/' %}publications-page{% elsif page.collection == 'teaching' %}teaching-page{% elsif page.permalink == '/other/' %}other-page{% elsif page.permalink == '/about/' %}about-page{% endif %}">

    <div class="profile-info">
        <p>{{ page.pronouns }}</p>
        <p>{{ page.bio }}</p>
        <p>{{ page.location }}</p>
        <p>{{ page.employer }}</p>
        <p><a href="mailto:{{ page.email }}">{{ page.email }}</a></p>
    </div>

    {% include browser-upgrade.html %}
    {% include masthead.html %}

    {{ content }}

    <div class="page__footer">
        <footer>
            {% include footer/custom.html %}
            {% include footer.html %}
        </footer>
    </div>

    {% include scripts.html %}

</body>
</html>
